.sideForm {
    height: 100vh;
    background: #21d1fa;
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    max-width: 500px;
    z-index: 150;
    transition: right 0.5s ease-in-out;
    display: flex;
}

.sideForm.open {
    right: 0;
}

.sideForm__wrapper {
    justify-content: center;
    padding: 10% 10% 0;
}

.sideForm__title {
    color: #ffffff;
    font-weight: 700;
    line-height: 37px;
    font-size: 50px;
    margin: 0 0 25px;
}

.sideForm__input {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    box-sizing: border-box;
    padding: 15px 12px;
    margin: 10px 0;
}

.sideForm__input:focus {
    outline: none;
    background: rgba(134, 134, 134, .1);
    transition: all 0.3s ease-in;
}

.sideForm__input::placeholder {
    color: #dbeaf0;
}

.sideForm__btn {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #21d1fa;
    background: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .sideForm__title {
        font-size: 30px;
    }

    .sideForm__input {
        font-size: 14px;
        padding: 6px 12px;
        max-width: 300px;
        width: 80%;
    }

    .sideForm__btn {
        margin: unset;
    }
}